/* Keyframes */

@keyframes blink-critical {
  to {
    /*color: @white;*/
    background-color: #ff0000; /* Critical color */
  }
}


/* Styles */


/* Colors */
@define-color background  rgba(0, 0, 0, 1);
@define-color text        #ffffff;
@define-color critical    #ff0000;
@define-color warning     #ff0000;


/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}


/* The whole bar */
#waybar {
  background: @background;
  color: @text;
  font-family: JetBrains Mono ;
  font-size: 10pt;
  font-weight:bold 
}


/* Each module */
#battery,
#clock,
cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#mpris {
  padding-left: 8pt;
  padding-right: 8pt;
  background: @background;
  color: @text;
}


/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-critical;
  animation-duration: 1s;
}


/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
  color: @warning;
}


/* Workspaces stuff */
#workspaces {
  margin-right: 5pt;
}

#workspaces button {
  padding-left: 2pt;
  padding-right: 2pt;
  background: @background;
  color: @text;
}

#workspaces button.visible {
  background: @background;
  color: @text;
}

#workspaces button.focused {
  background: @critical;
  color: @text;
}

#workspaces button.urgent {
  background: @critical;
  color: @text;
}

#workspaces button:hover {
  background: @background;
  color: @text;
}


#window {
  margin-left: 5pt;
  margin-right: 35pt;
}


#pulseaudio,
#network,
#memory,
#cpu,
#temperature,
#language,
#battery,
#tray,
#clock {
  background: @background;
  color: @text;
}


#clock.date,
#clock.time {
  background: @background;
  color: @text;
}
